{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %} All Meetups {%endblock%}

{% block site_css%}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock%}

{% block main_heading %}
We got great meetups coming up!
{% endblock %} 

{% block header_content %}
<p>Find the one that best suits your need!</p>
{% endblock %}

{% block body %}

<section>
    <h2>Upcoming Meetups</h2>
    <ol>
      {% for meetup_item in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=meetup_item.title image=meetup_item.image.url location='Lagos' slug=meetup_item.slug %} <!-- Code reusability. Ps: there shouldn't be a space between your variable and the equal sign.E.G: title=meetup_item.title not title = meetup_item.title-->
      {% endfor %}
    </ol>
</section>
{% endblock %}
